*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    /* min-height: 980px; */
    background-color: #8BC6EC;   /* GRADIENT */ 
    background-image: linear-gradient(136deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.card img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 70%;
    text-align: center;
}

#amountbox{
    width: 80%;
    height: 10%;
    background-color: #8BC6EC;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0,19) 0 6px 6px rgba(0,0,0,0,23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

#leftbox{
    /* width: fit-content; */
    height: 100%;
    display: flex;
    gap: 15px;

    align-items: center;
}

#imagebox{
    height: 8rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
}

#paymentbutton{
    width: 80%;
    height: 9%;
    background-color: rgb(22, 22, 79);
    color: white;
}

.cancelbox a{
    text-decoration: none;
    color: rgb(46,43,43);
    font-weight: bold;
    font-size: large;
}

#amountbox{

}