*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cooperlgbt";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


#nav h1{
    font-size: 30px;
    font-weight: 100;
}

#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #part2 a {
    text-decoration: none;
    color: #222;
    margin: 20px;
}

#nav #part2 a:nth-last-child(1){
    /* background-color: yellow; */
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}


#nav #part2 a:nth-last-child(1)  #green {
    width: 100%;
    height: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    /* left: 0; */
    left: -100%;
    transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}

#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;
}

#main>h1{
    font-size: 5.4vw;
    font-weight: 100;
    text-transform: capitalize;
    /* background-color: red; */
    width: 60%;
    text-align: center;
    position: relative;
    z-index: 99;
}

#main>h1::after{
    content: "";
    position: absolute;
    /* width: 50%; */
    width: 35%;
    height: 16px;
    /* background-color: red; */
    /* bottom: 0; */
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
}


#main #img1 {
    height: 400px;
    width: 260px;
    position: absolute;
    top: 20%;
    left: 6%;
}

#main #img2 {
    height: 220px;
    width: 250px;
    position: absolute;
    right: 25%;
    top: 18%;
}

#main #img3 {
    height: 210px;
    width: 200px;
    position: absolute;
    right: 7%;
    /* top: 18%; */
    /* bottom: 6%; */
    top: 60%;
}

#main img{
    transition: margin 0.8s ease;
}

#main img:hover{
    margin-top: -20px;
}